#buttons, #main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}
#buttons > .button {
    display: inline-block;
}
#buttons.noinfo > .button > .info {
    display: none;
}
.big, .button-img {
    image-rendering: pixelated;
}
code {
    font-family: monospace;
}
.button-img {
    width: 88px;
    height: 31px;
}
h1 {
    font-size: xx-large !important;
}
h3 {
    font-size: large !important;
}
body {
    margin: 0;
    background: #c0c0c0;
}